@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.aboutMain {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: whitesmoke;
    font-family: Montserrat;
}