@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');

#myBandCard {
    height: 64vmin;
    width: 80vmin;
    margin-top: 10vmin;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    box-shadow: 1vmin 1vmin #7a4747;
    border: solid 0.25vmin #c7baaf;
    padding: 0;
}

#bandName {
    color: #302849;
    font-family: Montserrat;
}

.bandInfoCardContainer {
    height: 60vmin;
    width: 100%;
    /* border: solid 0.25vmin #302849; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bandInfos {
    color: #302849;
    text-align: center;
    font-family: Montserrat;
}

#memberContainer {
    width: 50vmin;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#members {
    height: 4vmin;
    width: 60vmin;
    display: flex;
    color: #302849;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 1.5vmin;
    padding: 0;
}

/* .member {
    font-size: 1.5vmin;
} */

.songsOrRehearsalsContainer {
    min-height: 10vmin;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.songOrRehearsal {
    color: #302849;
    font-family: Montserrat;
    font-size: 1.5vmin;
}

/* .songsAndRehearsalsContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8vmin;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
} */

#divider {
    color: #D8D8D8;
    width: 4vmin;
}

#yearFormed {
    color: #302849;
    font-family: Montserrat;
}

#bandDescription {
    height: 8vmin;
    width: 60vmin;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bandDesctiptionP {
    color: #302849;
    font-size: 1.25vmin;
    font-family: Montserrat;
    margin: 0;
    width: 95%;
}