@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.rehearsalForm {
    height: 80%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#rehearsalLabel {
    font-family: Montserrat;
    color: #302849;
}

.rehearsalNotesText {
    height: 20vmin;
}