@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 10vmin;
    max-height: 10vmin;
    background-color: #c7baaf;
}

.navBar {
    display: flex;
    gap: 8vmin;
}

#logo {
    margin-left: 4vmin;
}

#nav {
    margin-right: 4vmin;
}

#logoLink {
    font-size: 4vmin;
    font-family: Anton;
    color: #302849;
    border-bottom: .15vw solid transparent;
    border-top: .15vw solid transparent
}

#link {
    color: #302849;
    font-size: 1.25vw;
    font-weight: 900;
    font-family: Montserrat;
    border-bottom: .15vw solid transparent;
    border-top: .15vw solid transparent
}

#link:hover {
    border-bottom: .15vw solid #302849;
    transition: ease .3s;
}

#copyright {
    font-size: 1.5vmin;
}